__pycache__/
.ipynb_checkpoints/
.vscode/
PDFs/*
src/temp/*
Processed.xlsx
Table_extr.ipynb
rotated_tables_test.ipynb
RotatedPages/*
temp.pdf
.gcloudignore
table.csv
table.xlsx
test/*
#client_secret.*
Function_for_foad_updated (1).ipynb
test.__pycache__
docs/*
env_for_foad.txt
README*
requirements_copy.txt
env.yml
