Flask 
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-api-core
google-cloud-datastore
google-cloud-secret-manager
google-cloud-logging
google_spreadsheet
tabula-py
pandas 
numpy
PyPDF2
xlsxwriter
pdfminer.six
crossref-commons
sphinx
sphinx-rtd-theme
requests 
json2html 
JPype1

