Flask==2.0.1 
google-api-python-client==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-api-core==1.30.0
google-cloud-datastore==2.1.3
google-cloud-secret-manager==2.5.0
google-cloud-logging==2.6.0
google_spreadsheet==0.0.6
tabula-py==2.2.0
pandas==1.3.0 
numpy==1.21.0
PyPDF2==1.26.0
xlsxwriter==1.4.4
pdfminer.six==20201018
crossref-commons==0.0.7
sphinx==4.1.1
sphinx-rtd-theme==0.5.2
requests==2.26.0 
json2html==1.3.0 
JPype1==1.3.0 

