* {
  box-sizing: border-box;
}

body {
    font-family: "helvetica", sans-serif;
    text-align: center;
  }
table {
  float: right;
  border-collapse: collapse;
  width: 60%;
  text-align: left;
  
  }

img {
  float: left;
  width: 40%;
}
