{% extends 'base.html' %}
{% block head %}
<h2>Table 1</h2>
{% endblock %}
<br>
{% block body %}


<!-- <div class="jumbotron"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <strong>{{title}}</strong>
                <br>
                <br>

                <p>Lacerenza CN, Reyes DL, Marlow SL, Joseph DL, Salas E.</p>

                <p><i>J Appl Psychol. 2017 Dec;102(12):1686-1718.</i></p>

                <a href="https://doi.org/{{DOI}}">doi: {{DOI}} </a><img src="../static/link-256.webp" width="15">
                <br>
                <br>
                <a href="/showPDF">Open PDF </a><img src="../static/link-256.webp" width="15">

                <hr>

            </div>
            <div class="col-6">

               <form action="/submit_form">  <!-- FOAD replace this with a flask endpoint-->
                
                   <div class="row form-group">
                       <div class="col text-right ">
                           <label for="ref_con"><b>REFERENCE CONCEPT</b></label>

                       </div>
                       <div class="col">
                           <select class="form-control" id="ref_con" aria-label=" ">
                               <option selected>Leadership </option>
                               <option value="1">training</option>
                               <option value="2">effectiveness</option>
                               <option value="3">Other</option>
                           </select>
                       </div>
                       

                   </div>

                   <div class="row form-group">
                       <div class="col text-right">
                           <label for="con_cat"><b>CONCEPT CATEGORY</b></label>

                       </div>
                       <div class="col">
                           <select class="form-control" id="con_cat" aria-label=" ">
                               <option selected>Leadership </option>
                               <option value="1">One</option>
                               <option value="2">Two</option>
                               <option value="3">Three</option>
                           </select>
                       </div>
                   </div>
                   <div class="row form-group">
                       <div class="col text-right">
                           <label for="con_dir"><b>CONCEPT DIRECTION</b></label>

                       </div>
                       <div class="col">
                           <select class="form-control" id="con_dir" aria-label=" ">
                               <option selected>Outcome</option>
                               <option value="1">One</option>
                               <option value="2">Two</option>
                               <option value="3">Three</option>
                           </select>
                       </div>
                   </div>
                   <div class="row form-group">
                       <div class="col text-right">
                           <label for="eff_type"><b>EFFECT TYPE</b></b></label>

                       </div>
                       <div class="col">
                           <select class="form-control" id="eff_type" aria-label=" ">
                               <option selected>Correlation</option>
                               <option value="1">One</option>
                               <option value="2">Two</option>
                               <option value="3">Three</option>
                           </select>
                       </div>
                   </div>

<!--                    <input class= "btn btn-outline-success" type="submit" value="Submit">-->
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-5 "> <!-- This div is for image and magnifier-->
                <style>
                    * {box-sizing: border-box;}
                    
                    .img-magnifier-container {
                      position:relative;
                    }
                    
                    .img-magnifier-glass {
                      position: absolute;
                      border: 3px solid #000;
                      border-radius: 50%;
                      cursor: auto;
                      /*Set the size of the magnifier glass:*/
                      width: 100px;
                      height: 100px;
                    }
                </style>
                <!-- <img id = "pageImage" class="img-fluid shadow-lg p-3 mb-5 bg-white" src='../static/capture.png'> -->
                <div class="img-magnifier-container">
                    <img id="pageImage" class="img-fluid shadow-lg p-3 mb-5 bg-white" src="../static/capture.png">
                </div>
            </div>

            

            <div class="col-7">
                <div class="row">
                    <div class="col-10">
                        <form class="form-inline" >
                            <label for="concept" class="mr-sm-2">CONCEPT CATEGORY :</label>
                            <input type="concept" class="form-control mb-2 mr-sm-2" placeholder="concept" id="concept">
                            <div class="form-check mb-2 mr-sm-2"></div>
                            <a class="btn btn-info btn-sm" onclick="applyAll()">Apply to all</a>
                            <div class="form-check mb-2 mr-sm-2"></div>
                            <a class="btn btn-info btn-sm" onclick="ClearAll()">Clear all</a>
                        </form>  
                    </div>
                    <div class="col-2">
                        <h4>
                            <div style="text-align: right;">Table {{table_num}}/5</div>
                        </h4>

                        <br>
                    </div>
                </div>
                
                <div class="row">
                
                {% if table_num==1 %}
                {%include 'table_temp.html'%}
                {% endif  %}

                {%if table_num==2 %}
                {%   include 'table_temp1.html' %}
                {% endif  %}
                

                </div>
               <div class="row">
                    <div class="col-4">
                        <a style="text-align: center;" class="btn btn-light btn-sm" onclick="add_bott()"> + Add new row </a>

                    </div>
                    <div class="col-8">
                        <a class="btn btn-danger btn-lg" onclick="Ignore()">Ignore</a>
                        
                        <a class="btn btn-success btn-lg" onclick="html2json()">Accept</a>
                    </div>
                </div>


            </div>
        </div>

    </div>
<!-- </div> -->


<script src="/static/css/bootstable.js"></script>
<script src="/static/css/script.js"></script>
<script>
//apply
$("#pdf").SetEditable();
function add_bott() {
        rowAddNewAndEdit('pdf');
  };


</script>

<script>
    /* Initiate Magnify Function
    with the id of the image, and the strength of the magnifier glass:*/
    magnify("pageImage", 3);
</script>


{% endblock %}