{% extends 'base.html' %}

{% block head %}



{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <div class="text-center bg-success">
       <strong> {{ message }} </strong> 
    </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



    <div class="container">
        <div>
            <div class="row">
                <div class="col">
                    <h3><div style="text-align: center;">MetaFinds Data Extraction Main Page</div></h3>
                    <br>
                    <br>
                     <div style="text-align: center;"><img src="static/FrontPage.png" alt="MetaFinds" width="400"></div>
                    <br>
                    <hr>
                    
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-centered d-flex justify-content-center">
                   <h4> <div style="text-align: center;">Extraction summary</div> </h4> 

                </div>
                <div class="col-1">
                    <a style="text-align: right;" class="btn btn-link btn-sm my-2 my-sm-0" onclick="loader()" href="/extract">refresh</a>
                </div>
            </div>
            <br>

            <table class="table">
                <thead>
                  <tr>
                    <th style="font-size: medium; color: firebrick;">File name</th>
                    <th style="font-size: medium; color: firebrick;">DOI</th>
                    <th style="font-size: medium; color: firebrick;">Status</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in range(file_numbers) %}    
                    {% if files_data[i]["status"] == "Processed" %} 
                     <tr class="success">
                    {%else %}
                    <tr class="info">
                    {% endif %}
                    <td style="font-size: medium;">{{files_data[i]["name"]}}</td>
                    <td style="font-size: medium;"> {{files_data[i]["doi"]}}</td>
                    <td style="font-size: medium;"> {{files_data[i]["status"]}}</td>
                  </tr>      
                {% endfor %}
                </tbody>
            </table>
            
            
            <div class="row">

                <div class="col col-centered d-flex justify-content-center">
                    <a style="text-align: center;" class="btn btn-success my-2 my-sm-0" href="/PullTables">Review Extracted Tables</a>

                </div>
            </div>
            <br>

        </div>
    </div>

    <div class="loader-wrapper" id="loading" style="display: none; text-align: center; margin: auto;">
    <br>
    <div>
        <h3> .</h3>
        <h3> .</h3>
        <h3> .</h3>
        <h3> .</h3>
        <h3> .</h3>
    </div>


        <span class="loader"><span class="loader-inner"></span></span>

    <h3>
        <div style="text-align: center; color: greenyellow; margin: auto;">
            Extracting data
            <br>  
        </div>
    </h3>
    
    <div>
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    
    
</div>

<script>
     function loader() {
        
      document.getElementById("loading").style.display = "initial"
    };
</script>


{% endblock %}