{% extends 'base.html' %}
{% block head %}
<h2>Table 1</h2>
{% endblock %}
<br>
{% block body %}

<meta id="pub_data" value="{{pub_data['doi']}}">
<meta id="table_number" value="{{table_num}}">

<!-- <div class="jumbotron"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <strong>{{pub_data["title"]}}</strong>
                <br>
                <br>

                <p>{{pub_data["authors"]}}</p>

                <p><i>{{pub_data["jur"]}}</i></p>

                <a href="https://doi.org/{{DOI}}">doi: {{pub_data["doi"]}} </a><img src="../static/link-256.webp" width="15">
                <br>
                <br>
                <a href="{{pdf_url}}" target="_blank">Open PDF </a><img src="../static/link-256.webp" width="15">

                <hr>

            </div>
            <div class="col-6">

               <form class="form-horizontal" id="concept_form" action="" method="POST">  
                
                   <div class="row form-group">
                       <div class="col text-right ">
                           <label for="ref_con"><b>Reference Concept</b></label>

                       </div>
                       <div class="col">
                           <input list="ref_con_list" id="ref_con" >
                           <datalist id="ref_con_list">
                            {% for val in ref_con_val %} 
                               <option value= {{val}}>
                            {% endfor %}
                               <!-- <option value="Engagement">
                               <option value="Learning">
                               <option value="Something">
                               <option value="Nothing">
                               <option value="Individual"> -->

                            </datalist>
                       </div>
                       

                   </div>

                   <div class="row form-group">
                       <div class="col text-right">
                           <label for="con_cat"><b>Concept Theme</b></label>

                       </div>
                       <div class="col">
                            <input list="con_cat_list" id="con_cat">
                            <datalist id="con_cat_list">
                            {% for c_th_val in con_theme_val %} 
                                <option value= {{c_th_val}}>
                            {% endfor %}

                               <!-- <option value="Transfer">
                               <option value="Commitment">
                               <option value="Behaviour"> -->

                            </datalist>
                       </div>
                   </div>
                   <div class="row form-group">
                       <div class="col text-right">
                           <label for="con_dir"><b>Concept Direction</b></label>

                       </div>
                       <div class="col">
                           <select class="control-label" id="con_dir" aria-label=" ">
                               <option selected>Outcome</option>
                               <option value="Driver">Driver</option>

                           </select>
                       </div>
                   </div>
                   <div class="row form-group">
                       <div class="col text-right">
                           <label for="eff_type"><b>Effect Type</b></b></label>

                       </div>
                       <div class="col">
                           <select class="control-label" id="eff_type" aria-label=" ">
                               <option selected>Correlation</option>
                               <option value="Reression">Reression</option>

                           </select>
                       </div>
                   </div>

<!--                    <input class= "btn btn-outline-success" type="submit" value="Submit">-->
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-5 "> <!-- This div is for image and magnifier-->
           
                    <iframe style="position: sticky; position: -webkit-sticky; top: 0;"  width=100%  height=900 src={{tables}}> </iframe> 
                
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-9">
                        <form class="form-inline" >
                            <label for="concept" class="mr-sm-2">Concept Theme :</label>
                            <input list="concept_list" class="form-control mb-2 mr-sm-2" id="concept">
                            <datalist id="concept_list">
                            
                                {% for c_th_val in con_theme_val %} 
                                    <option value= {{c_th_val}}>
                                {% endfor %}

                             </datalist>

                            <div class="form-check mb-2 mr-sm-2"></div>
                            <a class="btn btn-info btn-sm" onclick="applyAll()">Apply to all</a>
                            <div class="form-check mb-2 mr-sm-2"></div>
                            <a class="btn btn-info btn-sm" onclick="ClearAll()">Clear all</a>
                        </form>  
                    </div>
                    <div class="col-3">
                        <h4>
                            <div style="text-align: right;">Table {{table_num+1}}/{{max_tables}} </span></div>
                        </h4>

                        <br>
                    </div>
                </div>
                <h6 style="color: crimson;"> (* To ignore a column leave the column title blank) </h6>
                
                <div class="row">
                
                    {{table_html | safe}}                               

                </div>
               <div class="row">
                    <div class="col-4">
                        <a style="text-align: center;" class="btn btn-light btn-sm" onclick="add_bott()"> + Add new row </a>

                    </div>
                    <div class="col-8">
                        
                        <meta id="my-data" data-value="{{max_tables}}">

                        <a class="btn btn-danger btn-lg" onclick="ignore_table()">Ignore</a>

                        <a class="btn btn-success btn-lg" onclick="html2json()"> Accept </a>

                    </div>
                </div>


            </div>
        </div>

    </div>
<!-- </div> -->


<script src="/static/css/bootstable.js"></script>
<script src="/static/css/script.js"></script>
<script>

$("#pdf").SetEditable();
function add_bott() {
        rowAddNewAndEdit('pdf');
  };

</script>

{% endblock %}