{% extends 'table_base.html' %}
{% block body %}<table border="1" class="dataframe table table-light table-striped table-hover table-bordered table-responsive-lg" id="pdf">
  <thead>
    <tr style="text-align: left;">
      <th>CONCEPT CATEGORY</th>
      <th>META-ANALYSIS</th>
      <th>k</th>
      <th>N</th>
      <th>d</th>
      <th>nan</th>
      <th>SD</th>
      <th>%Var</th>
      <th>LL UL</th>
      <th>LL UL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>concept</td>
      <td>Reactions</td>
      <td>7</td>
      <td>620</td>
      <td>0.58</td>
      <td>0.63</td>
      <td>0.73</td>
      <td>1.05</td>
      <td>0.12 1.15</td>
      <td>0.30 1.57</td>
    </tr>
    <tr>
      <td></td>
      <td>[ Training method ]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Information and practice</td>
      <td>2</td>
      <td>115</td>
      <td>1.31</td>
      <td>1.47</td>
      <td>1.57</td>
      <td>0.40</td>
      <td>0.58 3.52</td>
      <td>0.54 3.48</td>
    </tr>
    <tr>
      <td></td>
      <td>Information demonstration and practice</td>
      <td>2</td>
      <td>257</td>
      <td>0.11</td>
      <td>0.12</td>
      <td>0.28</td>
      <td>10.03</td>
      <td>0.27 .50</td>
      <td>0.24 .48</td>
    </tr>
    <tr>
      <td></td>
      <td>[ Feedback ]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Feedback</td>
      <td>3</td>
      <td>145</td>
      <td>1.02</td>
      <td>1.13</td>
      <td>1.28</td>
      <td>0.00</td>
      <td>0.24 2.50</td>
      <td>0.51 2.77</td>
    </tr>
    <tr>
      <td></td>
      <td>No feedback</td>
      <td>4</td>
      <td>475</td>
      <td>0.52</td>
      <td>0.57</td>
      <td>0.57</td>
      <td>1.56</td>
      <td>0.04 1.09</td>
      <td>0.17 1.30</td>
    </tr>
    <tr>
      <td></td>
      <td>[ Evaluator’s affiliation ]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Academic</td>
      <td>3</td>
      <td>363</td>
      <td>0.16</td>
      <td>0.17</td>
      <td>0.32</td>
      <td>8.21</td>
      <td>0.18 .53</td>
      <td>0.23 .58</td>
    </tr>
    <tr>
      <td></td>
      <td>Practitioner</td>
      <td>2</td>
      <td>118</td>
      <td>0.59</td>
      <td>0.65</td>
      <td>0.00</td>
      <td>100.00</td>
      <td>0.64 .66</td>
      <td>0.65 .65</td>
    </tr>
    <tr>
      <td></td>
      <td>Mix</td>
      <td>2</td>
      <td>139</td>
      <td>1.42</td>
      <td>1.61</td>
      <td>0.73</td>
      <td>3.08</td>
      <td>0.64 2.59</td>
      <td>0.68 2.54</td>
    </tr>
  </tbody>
</table>{% endblock %}