{% extends 'table.html' %}
{% block body %}
<table border="1" class="table table-light table-striped table-hover table-bordered table-responsive-lg" id="pdf">
  <thead>
    <tr style="text-align: left;">
      <th>CONCEPT CATEGORY</th>
      <th>Meta-analysis</th>
      <th>k</th>
      <th>N</th>
      <th>d</th>
      <th>nan</th>
      <th>SD</th>
      <th>%Var</th>
      <th>LL</th>
      <th>UL</th>
      <th>LL</th>
      <th>UL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>concept</td>
      <td>Overall</td>
      <td>335</td>
      <td>26573</td>
      <td>0.73</td>
      <td>0.76</td>
      <td>1.17</td>
      <td>0.20</td>
      <td>0.64</td>
      <td>0.89</td>
      <td>0.74</td>
      <td>2.26</td>
    </tr>
    <tr>
      <td></td>
      <td>Published</td>
      <td>214</td>
      <td>17219</td>
      <td>0.78</td>
      <td>0.81</td>
      <td>1.40</td>
      <td>0.10</td>
      <td>0.63</td>
      <td>1.00</td>
      <td>0.98</td>
      <td>2.60</td>
    </tr>
    <tr>
      <td></td>
      <td>Unpublished</td>
      <td>121</td>
      <td>9354</td>
      <td>0.66</td>
      <td>0.69</td>
      <td>0.66</td>
      <td>0.96</td>
      <td>0.57</td>
      <td>0.80</td>
      <td>0.16</td>
      <td>1.53</td>
    </tr>
    <tr>
      <td></td>
      <td>[ Study design ]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Repeated measures</td>
      <td>208</td>
      <td>18182</td>
      <td>0.75</td>
      <td>0.78</td>
      <td>1.19</td>
      <td>0.17</td>
      <td>0.62</td>
      <td>0.94</td>
      <td>0.74</td>
      <td>2.30</td>
    </tr>
    <tr>
      <td></td>
      <td>Independent groups</td>
      <td>62</td>
      <td>3901</td>
      <td>0.74</td>
      <td>0.76</td>
      <td>1.13</td>
      <td>0.26</td>
      <td>0.48</td>
      <td>1.05</td>
      <td>0.69</td>
      <td>2.22</td>
    </tr>
    <tr>
      <td></td>
      <td>[ Independent groups and ]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Repeated measures</td>
      <td>58</td>
      <td>4490</td>
      <td>0.46</td>
      <td>0.48</td>
      <td>0.90</td>
      <td>0.99</td>
      <td>0.25</td>
      <td>0.71</td>
      <td>0.67</td>
      <td>1.63</td>
    </tr>
  </tbody>
</table>
{% endblock %}